@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,400&display=swap');

/* ------------------------------------------------------------ 
Color setup
---------------------------------------------------------------*/
:root {
    --primary: #3155e7;
    --primary-dark: #2045d6;
    --black: #010101;
    --gray-1: #788190;
    --gray-2: #d3d4db;
    --white: #FFFFFF;
    --body: #fafafa;

    --p1: #EAE7B1;
    --p2: #A6BB8D;
    --p3: #61876E;
    --p4: #3C6255;

    --text1: #404040;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid 1px red; */
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: var(--body);
}

/* ------------------------------------------------------------ 
Setup components
---------------------------------------------------------------*/

/* button */
.btn {
    border-radius: 8px;
}

.btn-primary,
.btn-outline-secondary {
    padding: 12px 20px;
}

.btn-primary {
    background-color: var(--p3);
}

.btn-primary:hover {
    background-color: var(--p4);
}

.btn-outline-secondary {
    border: 1px solid var(--gray-2);
    color: var(--black);
}

.btn-outline-secondary:hover {
    background-color: var(--gray-2);
    border: 1px solid var(--gray-2);
    color: var(--black);
}

.btn-outline-secondary:focus {
    background-color: var(--gray-2);
    border: 1px solid var(--gray-2);
    color: var(--black);
}

/* ------------------------------------------------------------ 
Navbar
---------------------------------------------------------------*/

/*1- VERSION CSS*/
// .navbar .btn-outline-secondary {
//     border: 1px solid var(--gray-2);
//     color: var(--black);
//     font-size: 14px;
//     font-weight: 500;
//     line-height: 20px;
//     padding: 10px 16px;
// }

// .navbar {
//     padding: 12px 0;
//     background-color: var(--p4);
// }

/*1- VERSION SASS*/
.navbar {
    padding: 12px 0;
    background-color: var(--p4);

    // No hace nada, porque no hay ningun elemento con la clase dentro del navbar
    .btn-outline-secondary {
        border: 1px solid var(--gray-2);
        color: var(--black);
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        padding: 10px 16px;
    }
}

.nav-link {
    margin-left: 41px;
    font-size: 20px;
    color: white;
    font-weight: 600;
}

.navbar-nav .nav-link.active {
    font-weight: 800;
    color: var(--p1);
}

.logoImage {
    /* width: 102.4px;
    height: 68.2px; */

    /* width: 153.6px;
    height: 102.3px; */
    width: 163.84px;
    height: 109.12px;
}

/* ------------------------------------------------------------ 
Hero setion
---------------------------------------------------------------*/

/*2- VERSION CSS*/
// section.hero {
//     padding: 70px 0;
// }

// section.hero .text {
//     font-weight: 800;
//     font-size: 48px;
//     line-height: 73px;
//     color: var(--black);
//     /* text-align: center; */
// }

/*2- VERSION SASS*/
section.hero {
    padding: 70px 0;

    .text {
        font-weight: 800;
        font-size: 48px;
        line-height: 73px;
        color: var(--black);
        /* text-align: center; */
    }
}

h1 {
    font-weight: 900;
    font-size: 48px;
    line-height: 73px;
    color: var(--p4);
}

.buttons {
    padding-top: 69px;
}

.buttons .btn {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

/* .hero-image-container {
    height: 411px;
} */

/* ------------------------------------------------------------ 
Setup setion
---------------------------------------------------------------*/
section.setup {
    padding: 100px 0;
}

section.setup .text-header h3 {
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    color: var(--black);
}

section.setup .text-header p {
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    color: var(--text1);
    padding: 27px 0;
}

section.setup .icons {
    padding: 27px 0;
}

section.setup h5 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--black);
    padding-bottom: 16px;
}

section.setup .desc p {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--text1);
    max-width: 284px;
    margin: 0 auto;
}